<% if @pins %>	
	<div class="row">
		<div class="well_header"> 
			Daily Playlists of Shoppable Fashion | <%= link_to "Sign Up", "#", :onclick => "$('#myModal').modal('show');" %> | <%= link_to "Learn More", about_path %>
		</div>
				
	</div>
	
	<%= render @pins %>

	<div class="row">

		<div class="btn_well">
			<div class="btn_well_left">
				<div class="btn_left"> 	

					<%= link_to '<i class="icon-white icon-remove"></i> Less'.html_safe, {:controller => "views", 
	                   :action => "new_user_save", 
	                   :rank => 0, 
	                   :pin_id => @pins.id
	                   },
	                   :method => "post", class: "btn btn-block btn-danger btn-large" %>

	   				<div class="center_small">(Not me... Show me something else.)</div>
				</div>

				<div class="counter">
					<%= @daily_counter %>
				</div>	

			</div>
				
			<div class="btn_right">
					<%= link_to '<i class="icon-white icon-heart"></i> Yes!'.html_safe, {:controller => "views", 
		                :action => "new_user_save", 
		                :rank => 1, 
		                :pin_id => @pins.id},
		                :method => "post", class: "btn btn-block btn-success btn-large" %> 	
						
					<div class="center_small">(Love it! Give me more like it.)</div>
			</div>
		</div>			
	</div>

<% else %>

	<div class="well_header"> 
		<p>That's enough for now. <%= link_to "Sign Up", "#", :onclick => "$('#myModal').modal('show');" %> to get another style playlist tomorrow.</p>
	</div>	

<% end %>



<!-- /Signup Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign Up: You're seconds away from browsing!</h4>
      </div>
      <div class="modal-body">
       <%= render "devise/registrations/new" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

