
	<% if user_signed_in? %>
		<% if @pins %>
		<div class="well_header">Browse Today's Style Selection</div>
			
			<%= render @pins %>
		
		<div class="row">
				<div class="btn_well">
					<div class="btn_well_left">
						<div class="btn_left"> 	
		   					<%= link_to '<i class="icon-white icon-remove"></i> Less'.html_safe, {:controller => "views", 
		                       :action => "create", 
		                       :rank => 0,
		                       :user_id => current_user.id, 
		                       :pin_id => @pins.id
		                       },
		                       :method => "post", class: "btn btn-block btn-danger btn-large"  %>
						</div>

						<div class="counter">
							<%=  @daily_counter %>
						</div>
					</div>
					

					<div class="btn_right"> 	
							<%= link_to '<i class="icon-white icon-heart"></i> Yes!'.html_safe, {:controller => "views", 
		                       :action => "create", 
		                       :rank => 1,
		                       :user_id => current_user.id, 
		                       :pin_id => @pins.id
		                       },
		                       :method => "post", class: "btn btn-block btn-success btn-large" %>
					
					</div>
				</div>
			
		</div>

	<%= render 'shop' %>	
		
		<% else %>
			
		<div class="well_header"> 
			<p>That's enough for now. You'll get another sytle playlist tomorrow! 
		</div>	

		<%= render 'shop' %>			
		<% end %>
	<% else %>

	<%= render 'new_user' %>
	<%= render 'shop' %>	

	<% end %>




