<div id="pins">

	<% if user_signed_in? %>
		<% if @pins %>
		<div class="well_header">Build a Personal Catalog | <%= link_to 'Shop', views_shop_path %></div>
			<%= render @pins %>

			<div class="btn_left"> 	
   				<%= link_to 'Meh...', {:controller => "views", 
                       :action => "create", 
                       :rank => 0,
                       :user_id => current_user.id, 
                       :pin_id => @pins.id
                       },
                       :method => "post", class: "btn btn-block btn-large"  %>
			
			</div>
			
			<div class="btn_right"> 	
					<%= link_to 'Yes!', {:controller => "views", 
                       :action => "create", 
                       :rank => 1,
                       :user_id => current_user.id, 
                       :pin_id => @pins.id
                       },
                       :method => "post", class: "btn btn-block btn-large"  %>
			</div>
		
		<% else %>

			
			<div class="center_text">
				<div class="well_header"> 
					<p>Fleur is out of new stuff. Come back tomorrow!  |  
					<%= link_to 'Shop', views_shop_path, class: "btn btn-info btn-medium" %> </p>
					<%= link_to image_tag("storefront.jpg"), views_shop_path %> 
				</div>	
				
		<% end %>
	<% else %>

		<div class="hero-unit">
			
			<h2>No user is signed in to Fleur.</h2>

		</div>

	<% end %>

</div>	
