<div class="row">
    <div class="well">
      <%= link_to (image_tag @pin.image(:large)), @pin.product_url, :target => "_blank" %>  
    </div>
    <div class="show_info">
      <%= link_to (image_tag @pin.brand.image(:small)), @pin.brand.url %>
      
      <p><i class="icon-heart"></i> <%= number_to_percentage(number_with_precision(@pin.views.find(:all, :conditions => ["rank = 1"]).count.to_f / @pin.views.count.to_f * 100), precision: 0) %> | 
        <i class="icon-remove"></i> <%= number_to_percentage(number_with_precision((1 - @pin.views.find(:all, :conditions => ["rank = 1"]).count.to_f / @pin.views.count.to_f) * 100), precision: 0) %>
      </p>

      <p><%= number_to_currency( @pin.price, precision: 2) %></p>
      

      <p><%=link_to '<i class="icon-white icon-shopping-cart"></i> Buy Now'.html_safe, @pin.product_url, class: "btn btn-block btn-primary btn-medium" %>
       </p> 

    

    </div>   
</div>


