  <div class="row">
    <div class="info_well">
      <div class="well" style="background-image: url('<%= @pin.image %>')" onclick="window.open('<%= @pin.product_url %>','mywindow');">
      </div>
      <div class="show_info">
        <%= link_to (image_tag @pin.brand.image(:small)), @pin.brand.url %>
        
        <% unless @pin.views.find(:all).count == 0 %>
          
          <p>
            <div class="new_pin">
            <i class="icon-white icon-heart"></i> <%= number_to_percentage(number_with_precision(pin_percent_views(@pin, 1)), precision: 0) %>  |  
            <i class="icon-white icon-remove"></i> <%= number_to_percentage(number_with_precision(pin_percent_views(@pin, 0)), precision: 0) %>
              </div>
          </p>

        <% else %>

          <p>
            <div class="new_pin"> New Item </div>
          </p>

        <% end %>

        <p><%= number_to_currency( @pin.price, precision: 2) %></p>
        

        <p><%=link_to '<i class="icon-white icon-shopping-cart"></i> Buy Now'.html_safe, @pin.product_url, class: "btn btn-block btn-primary btn-medium" %>
         </p> 

      </div>   
    </div>  
</div>


