<p><%= link_to "Connect Twitter Account", user_omniauth_authorize_path(:twitter) %></p>

<p><strong>@<%= "All users #{@user} follows:" %></strong> </p>
 <%= @all_friends.count %>
 <% @all_friends.each do |f| %>
 	<p> <%= f.screen_name %> | <%= f.id %> | <%= f.location %> | <%= f.profile_image_url %></p>
