
<div class="left_header"> <%= @allheader %> Items Created <%= link_to "Add an Item", new_pin_path %></div>

<div id="pins">
	<div class="row">
   		<div class="manage_item">
   			<% @pins.each do |pin| %>	
          <table class="table_spacer">
            <tr>
              <td rowspan="6", width="110px"><%= link_to (image_tag pin.image(:thumb)), pin.product_url, :target => "_blank" %></td>
              <td>Price: <%= number_to_currency( pin.price, precision: 2) %> </td>
              <td>Active: <%= pin.active %></td>
              <td></td>
    			   </tr>
            <tr><td>Item Type: <%= pin.item_type %></td>
                <td>Added: <%= pin.created_at.to_formatted_s(:short) %></td>
                <td></td>
            </tr>
            
            <tr>
                <td>Brand: <%= link_to pin.brand.name, pin.brand.url %> </td>
                <td>Total Views: <%= pin.views.count %></td>
                <td>% Yes: <%= number_to_percentage(number_with_precision(pin_percent_views(pin, 1)), precision: 0) %></td>
            </tr>
            

            <tr>
                <td>Sex: <%= pin.sex %></td>
                <td>Total Clicks: <%= pin.clicks.count %></td>
                <td>% Shop: <%= number_to_percentage(number_with_precision(pin_percent_views(pin, 'shop')), precision: 0) %></td>
            </tr>
            

            <tr><td><%= link_to "Edit", edit_pin_path(pin) %> <%= link_to "Delete", pin, method: :delete, data: {confirm: 'Are you sure'} %></td></tr>
          </table>
  		
    			</br>
  			<% end %>		
  		</div>
	</div>	
</div>	
