
<div class="left_header">All Users | Total: <%= @users.count + @admins.count %> | Real: <%= @users.count %> | Admins: <%= @admins.count %> </div>

<p><b>Real Users </b></p>

<%= render partial: 'alluser_tables', locals: {user: @users} %> 

<br/><p><b>Admin Users </b></p>

<%= render partial: 'alluser_tables', locals: {user: @admins} %> 