<div class="left_header">Fleur Moble Design Mockups</div>

<div class="about_head">Main Browsing Interface</div>
<%= image_tag("MockSmall1.png") %>

<div class="about_head">Browsing Interface After a User Swipe</div>
<%= image_tag("MockSmall2.png") %>

<div class="about_head">Product Detail Page</div>
<%= image_tag("MockSmall3.png") %>

<div class="about_head">Product Detail Page with Social Feedback</div>
<%= image_tag("MockSmall4.png") %>

<div class="about_head">The User's Catalog of Items They've Liked</div>
<%= image_tag("MockSmall5.png") %>
