<table class="manage_table">
	<tr>
		<td>ID </td>
		<td class="table_spacer">USER </td>
		<td class="table_spacer">PIN </td>
		<td class="table_spacer">PLACE </td>
		<td class="table_spacer">Created</td>
	</tr>
	
	<% @clicks.each do |click| %>
  	<tr>
		<td><%= click.id %> </td>
		<td class="table_spacer"><%= click.user_id %> </td>
		<td class="table_spacer"><%= click.pin_id %> </td>
		<td class="table_spacer"><%= click.place %> </td>
		<td class="table_spacer"><%= click.created_at.to_formatted_s(:short)    %> </td>
		<td class="table_spacer"><%= link_to "Delete", click, method: :delete, data: {confirm: 'Are you sure'} %>
	</tr>
	<% end %>
</table>