	
<% if @pins.count == 0 %>
	
	<div class="well_header"> 
		<p>Your Catalog is Empty! Browse some items to get started.  |  
		<%= link_to 'Browse', root_path %> </p>
		<%= link_to image_tag("emptyroom.jpg"), root_path %> 

	</div>	

<% else %>

	<div class="well_header">My Catalog: Click on Any Image to Make a Purchase | <%= link_to 'Browse', root_path %></div>
				
		<%= form_tag views_shop_path do %>
  	Filter by Max Price: 
  	<%= text_field_tag :pricetop, '', placeholder: @price_placeholder %>
 		<%= submit_tag "Filter" %>
		<% end %>
	
	<div class="shop">
		<% @pins.each do |pin| %>
  		<%= link_to (image_tag pin.image(:large)), {:controller => "clicks", 
                       :action => "create", 
                       :place => "shop",
                       :user_id => current_user.id, 
                       :pin_id => pin.id
                       },
                       :method => "post", :target => "_blank" %>
		<% end %>
	</div>

<% end %>	

<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async  data-pin-color="red" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>	

