<% if user_signed_in? %>

  <% if current_user.try(:admin?) %>


<h1>Editing brand</h1>

<%= render 'form' %>

<%= link_to 'Show', @brand %> |
<%= link_to 'Back', brands_path %>


<% else %>
    <b>Make current user a Fleur Admin</b>
        
    <%= form_tag pages_authenticate_path do %>
    <label>Enter Password</label>
    <%= password_field_tag :adminpass %>
    <%= submit_tag "Submit" %>
    <% end %>

  <% end %>

<% else %>

  <div class="hero-unit"> 
    <div class="well_header">Must be signed in to access admin panel.</div>
  </div>

<% end %>

