<footer class="footer">
&copy; 2013 Fleur, Inc. by <%= link_to("Chris Finlayson", "https://twitter.com/chrisjfin") %> | <%= link_to "About Fleur", about_path %>

<div class="footer_right">
<%= link_to image_tag("twitter-32.png"), "http://twitter.com/shopfleurco", :target => "_blank" %>
<%= link_to image_tag("facebook-32.png"), "#", :target => "_blank" %>
<%= link_to image_tag("pinterest-32.png"), "http://pinterest.com/fleur", :target => "_blank" %>
</div>

</footer>