<!DOCTYPE html>
<html>
	<head>
	  <title>Fleur</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= favicon_link_tag 'Fleur.ico' %>
	</head>
		<body>

		<%= render 'layouts/header' %>	
			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>	

		<div class='container'> 
		<%= yield %>

		<%= render 'layouts/footer' %>		
	</div>
		</body>
<script type="text/javascript">
  var vglnk = { api_url: '//api.viglink.com/api',
                key: 'b0cf09e3392bda9ab2bbf2e843783fa2' };

  (function(d, t) {
    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
    s.src = ('https:' == document.location.protocol ? vglnk.api_url :
             '//cdn.viglink.com/api') + '/vglnk.js';
    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
  }(document, 'script'));
</script>

</html>
